/*  your css code here. If applicable */

/*  your css code here. If applicable */
body{
	background-color:black;
}
h1{
	color:white;
	text-align:center;
}
.animal-photos{

	width:100px;
	width:100%;
	background-color:grey;
	align-self:center;

}
img{
	border-radius:10px;
	height:200px;
	padding:5px;
	margin-left:35px;
}
